#leftcont {
    float: left;
}
#rightcont {
    float: right;
}
#leftcont, #rightcont {
    padding: 30px;
    height: 400px;
}
#pre, #post {
    background-color: red;
    color: black;
    border: 3px solid black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24px;
    width: 370px;
    height: 350px;
    float: left;
    padding: 10px;
    padding-top: 0px;
}
#leftcont {
    margin-left: 20px;
}
#rightcont {
    margin-right: 20px;
    width: 610px;
    display: block;
}
#post {
    margin-right: 30px;
}
#giveBGColor, #giveColor, #giveBorderColor {
    width: 75px;
}
#arrow {
    float: left;
    width: 169px;
    height: 400px;
}
#bigcont {
    height: 450px;
    display: block;
}
#secondcont {
    display: block;
}
#DOMcode {
    height: flex;
    min-height: 200px;
    margin: 20px auto;
    border: 2px solid gray;
    font-family: Courier;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
}
h2 {
    display: inline-block;
}
h1 {
    text-align: center;
}
#slider {
    margin-left: 200px;
}
#arrow img {
    margin-top: 140px;
}
#giveWidth {
    width: 30px;
}
@media (max-width: 1367px) {
    #pre, #post {
        width: 150px;
    }
    #rightcont {
        width: 420px;
    }
}
@media (max-width: 960px) {
    #secondcont {
        margin-top: 300px;
    }
}