@import "../assets/common.scss";
#leftcont {
    float: left;
}
#rightcont {
    float: right;
    overflow: hidden;
}
#leftcont, #rightcont {
    padding: 30px;
    height: 400px;
}
#pre, #post {
    
    border: 3px solid #000000;
    background-color: #fff;
    color: #000;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24px;
    width: 370px;
    height: 350px;
    float: left;
    padding: 10px;
    padding-top: 0px;
    
}
#leftcont {
    margin-left: 20px;
}
#rightcont {
    margin-right: 20px;
    width: 610px;
    display: block;
}
#post {
    margin-right: 30px;
}
#giveBGColor, #giveColor, #giveBorderColor {
    width: 75px;
}
#arrow {
    float: left;
    width: 169px;
    height: 400px;
    display: table;
    margin: 0 auto;
}
#bigcont {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe1bf;
    color: black;
    border: 0.2em solid #38Bfe7;
    padding-bottom: 20px;
}
#secondcont {
  display: block;
  padding: 0.5em;
  border: 0.2em solid #38Bfe7;
  background-color: #fff;
  color: #000;
  float: right;
  width: 47%;
}
#DOMcode {
    height: flex;
    min-height: 200px;
    margin: 20px auto;
    border: 2px solid gray;
    font-family: Courier;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
}
h2 {
    display: inline-block;
}
h1 {
    text-align: center;
}
#slider {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
}
#sliderValue{
    cursor: pointer;
}
#arrow img {
    margin-top: 140px;
}
#giveWidth {
    width: 30px;
}

#giveID{
    width: 94%
}

@media (max-width: 1384px) {
    #pre, #post {
        width: 150px;
    }
    #rightcont {
        width: 420px;
    }
    #giveID{
        width: 80%;
    }
}
#header {
    padding: 1em 2em;
    background-color: #ffffff;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 3em;
    z-index: 1000;
    opacity: 95%;
    box-shadow: 0 2px 2px #eee;
  }
@media(max-width: 940px){
    
    #pre, #post {
        width: 75px;
    }
    #rightcont {
        width: 200px;
    }
    #giveID{
        width: 40%;
    }
    #header{
        font-size: smaller;
    }
}
@media(max-width: 700px){

    #header{
        font-size: x-small;
    }
}

body {
    margin: 5em 0 0 0;
    padding: 0;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }
  
  button {
    border: none;
    background: #42C2E8;
    padding: 0.5em 1em;
    box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #19a8d3;
  }
  button:active {
    box-shadow: none;
  }
  
 
  #header > * {
    display: inline-block;
    margin: 0;
  }
  #header button {
    width: 3em;
  }
  
  #back-button {
    padding: 0.25em 1em;
    font-size: 1em;
    height: 100%;
  }
  #infoText {
    display: block;
    padding: 0.5em;
    border: 0.2em solid #38Bfe7;
    background-color: #fff;
    color: #000;
    float: left;
    margin-top: 20px;
    width: 47%;
  }
  .content {
    padding: 1em;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .section {
    margin: 1em 0;
    padding: 0.5em;
    border: 0.2em solid #38Bfe7;
    background-color: #fff;
    color: #000;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-box {
    display: flex;
  }
  
  .flex-col {
    flex: 1;
    padding: 0;
  }
  
  .flex-col:not(:last-child) {
    margin: 0 0.2em 0 0;
  }
  
  .flex-col:last-child {
    margin: 0 0 0 0.2em;
  }
  
  .no-flex-col {
    flex: 0;
  }
  
  #editor-section {
    position: relative;
    overflow: scroll;
  }
  
  #editor {
    margin: 0;
    height: 20em;
    width: calc(100% - 35px - calc(0.625em*2));
    font-family: "Anonymous Pro", monospace;
    font-size: 0.875em;
    line-height: 1.25em;
    padding: 1px 0.625em;
  }
  
  #explore-show {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
  }
  
  #button-overlay {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0;
  }
  
 #arrowIcon{
     font-size: 200px;
     color: #38Bfe7;
     text-align: center;
     margin: 700px, 0px;
     margin-top: 140px;
 }
  