/* style.scss */

/* Import the common styling */
@import "../assets/common.scss";

/* The page-specific styling */
.line i {
    width: 40px;
    margin-left: 20px;
}

footer {
  text-align: center;
}

.line {
    font-size: 1em;
}

#functionCode {
    width: 60%;
    float: left;
    margin-right: 0.2em;
}

#control {
    width: 30%;
    float: right;
    margin-left: 0.2em;
}

#warning1, #warning2, #warning3 {
    color: red;
    font-size: 0.5em;
}

#instructions {
    width: 40%;
    float: left;
    margin-right: 0.2em;
}

#spinner {
    opacity: 0.0;
}

#danceArena {
    width: 70%;
    float: right;
    margin-left: 0.2em;
    height: 350px;
}

#inputJump, #inputSpeed, #inputTime {
    width: 3em;
}

#codeLine {
    font-family: Courier, monospace;
    font-size: 1em;
}

#dancer {
    position: relative;
    top: 200px;
    width: 10%;
}

#easterEggVerdict {
  color: red;
  font-size: 40px;
  position: relative;
  top: 5px;
  left: 70px;
  display: inline;
}

#stopWatch {
  margin-top: -20px;
}

.ui-button {
  float: right;
  border: 3px solid gray;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.ui-button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 0.25s;
}
.ui-draggable-handle {
  background-color: black;
  padding: 10px;
}
.ui-draggable-handle:hover {
  cursor: move;
  background-color: #222;
}
.ui-dialog {
  display: block;
  padding: 10px;
  border: 0.2em solid #FF8900;
  background-color: white;
  box-shadow: 8px 8px 5px #888888;
}
.ui-widget-header {
  color: white;
}

/* Bit by Bot Dancing animations */


/* The @keyframes CSS at-rule controls the intermediate steps in a CSS animation sequence. */

@keyframes headbop {
  /* The transform CSS property lets you modify the coordinate space of the CSS visual formatting model. Using it, elements can be translated, rotated, scaled and skewed.*/
  0% {transform: translateY(-10px);}
  50% {transform: rotate(5deg);}
  100% {transform: translateY(10px);}
}

@keyframes wave-rarm {
  0% {transform: rotate(-7deg);}
  100% {transform: rotate(7deg);}
}

@keyframes wave-larm {
  0% {transform: rotate(7deg);}
  100% {transform: rotate(-7deg);}
}

@keyframes walk {
  0% {transform: translateX(0);}
  33% {transform: translateX(-100px);}
  66% {transform: translateY(-35px);}
  100% {transform: translate(0)}
}

@keyframes stomp-rfoot {
  0% {transform: translateY(0);}
  100% {transform: translateY(-6px);}
}

@keyframes stomp-lfoot {
  0% {transform: translateY(-6px);}
  100% {transform: translateY(0px);}
}

.robot {
  position: relative;
  width: 8em;
}

.robot .head {
  position: absolute;
  left: 105px;
  animation: headbop 1s infinite alternate;
}

.robot .body {
  position: absolute;
  z-index: 1;
  top: 128px;
  left: 80px;
}

.robot .larm {
  animation: wave-larm 1s infinite alternate;
  position: absolute;
  z-index: 100;
  transform-origin: 80% 60%;
  top: 132px;
  left: 50px;
}

.robot .rarm {
  animation: wave-rarm 1s infinite alternate;
  position: absolute;
  z-index: 100;
  transform-origin: 80% 60%;
  top: 132px;
  left: 240px;
}

.robot .lfoot {
  animation: stomp-lfoot 0.5s infinite alternate;
  position: absolute;
  top: 270px;
  left: 110px;
}

.robot .rfoot {
  animation: stomp-rfoot 0.5s infinite alternate;
  position: absolute;
  top: 270px;
  left: 182px;
}
