/* style.scss */
/* Import the common styling */
/* common.scss */
/* Define all the colors */
body {
  margin: 5em 0 0 0;
  padding: 0;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

button {
  border: none;
  background: #38Bfe7;
  padding: 0.5em 1em;
  box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
  cursor: pointer;
}
button:hover {
  background-color: #19a8d3;
}
button:active {
  box-shadow: none;
}

#header {
  padding: 1em 2em;
  background-color: white;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 3em;
  z-index: 1000;
  opacity: 95%;
  box-shadow: 0 2px 2px #eee;
}
#header > * {
  margin: 0;
}
#header button {
  width: 3em;
}

#back-button {
  padding: 0.25em 1em;
  font-size: 1em;
  height: 48px;
}

.content {
  padding: 1em;
  max-width: 80%;
  margin: 0 auto;
}

/*Flexbox*/
.flex-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: max-content;
}

.flex-item-header {
  flex: 1 1 200px;
}

.flex-item-left {
  flex: 1 1 100px;
  max-width: max-content;
}

#top-heading {
  width: max-content;
}

#bxb-logo {
  max-height: 3em;
  display: block;
  text-align: left;
  margin-left: calc(100% - 200px);
}

.section {
  margin: 1em 0;
  padding: 0.5em;
  border: 0.2em solid #38Bfe7;
  background-color: #fff;
  color: #000;
}

.flex-box {
  display: flex;
}

.flex-col {
  flex: 1;
  padding: 0.5em;
}

.flex-col:not(:last-child) {
  margin: 0 0.2em 0 0;
}

.flex-col:last-child {
  margin: 0 0 0 0.2em;
}

.no-flex-col {
  flex: 0;
}

.showcase-section {
  padding: 0;
}

.editor-section {
  position: relative;
  overflow: scroll;
  padding: 0;
}

.editor {
  margin: 0;
  height: 20em;
  width: calc(100% - 35px - calc(0.625em*2));
  font-family: "Anonymous Pro", monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 1px 0.625em;
}

.editor-button-overlay {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0;
}

/* The page-specific styling */
.line i {
  width: 40px;
  margin-left: 20px;
}

.line {
  font-size: 1em;
}

#functionCode {
  width: 60%;
  float: left;
  margin-right: 0.2em;
}

#control {
  width: 30%;
  float: right;
  margin-left: 0.2em;
}

#warning1, #warning2, #warning3 {
  color: red;
  font-size: 0.5em;
}

#instructions {
  width: 40%;
  float: left;
  margin-right: 0.2em;
}

#spinner {
  opacity: 0;
}

#danceArena {
  width: 70%;
  float: right;
  margin-left: 0.2em;
  height: 350px;
}

#inputJump, #inputSpeed, #inputTime {
  width: 3em;
}

#codeLine {
  font-family: Courier, monospace;
  font-size: 1em;
}

#dancer {
  position: relative;
  top: 200px;
}

#easterEggVerdict {
  color: red;
  font-size: 40px;
  position: relative;
  top: 5px;
  left: 70px;
  display: inline;
}

#stopWatch {
  margin-top: -20px;
}

.ui-button {
  float: right;
  border: 3px solid gray;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.ui-button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 0.25s;
}

.ui-draggable-handle {
  background-color: black;
  padding: 10px;
}

.ui-draggable-handle:hover {
  cursor: move;
  background-color: #222;
}

.ui-dialog {
  display: block;
  padding: 10px;
  border: 0.2em solid #FF8900;
  background-color: white;
  box-shadow: 8px 8px 5px #888888;
}

.ui-widget-header {
  color: white;
}

/* Bit by Bot Dancing animations */
/* The @keyframes CSS at-rule controls the intermediate steps in a CSS animation sequence. */
@keyframes headbop {
  /* The transform CSS property lets you modify the coordinate space of the CSS visual formatting model. Using it, elements can be translated, rotated, scaled and skewed.*/
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes wave-rarm {
  0% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(7deg);
  }
}
@keyframes wave-larm {
  0% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@keyframes walk {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100px);
  }
  66% {
    transform: translateY(-35px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes stomp-rfoot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes stomp-lfoot {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
.robot {
  position: relative;
  width: 8em;
}

.robot .head {
  position: absolute;
  left: 105px;
  animation: headbop 1s infinite alternate;
}

.robot .body {
  position: absolute;
  z-index: 1;
  top: 128px;
  left: 80px;
}

.robot .larm {
  animation: wave-larm 1s infinite alternate;
  position: absolute;
  z-index: 100;
  transform-origin: 80% 60%;
  top: 132px;
  left: 50px;
}

.robot .rarm {
  animation: wave-rarm 1s infinite alternate;
  position: absolute;
  z-index: 100;
  transform-origin: 80% 60%;
  top: 132px;
  left: 240px;
}

.robot .lfoot {
  animation: stomp-lfoot 0.5s infinite alternate;
  position: absolute;
  top: 270px;
  left: 110px;
}

.robot .rfoot {
  animation: stomp-rfoot 0.5s infinite alternate;
  position: absolute;
  top: 270px;
  left: 182px;
}

/*# sourceMappingURL=style.css.map */
