/* style.scss */

/* Import the common styling */
@import "../assets/common.scss";

/* The page-specific styling */
/* TODO: Put whatever styles you need for just your demo here */

.bold {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-weight: 800;
  }

.comment {
  font-style: italic;
  color:rgb(11, 160, 110);
}
.code {
  color: #f19100;
  font-family: 'Anonymous Pro', monospace;
}