body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

button {
    border: none;
    background: #38Bfe7;
    padding: 0.5em 1em;
    -webkit-box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
            box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
  }
  
  button:hover {
    background-color: #19a8d3;
  }
  
  button:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  #header {
    padding: 1em 2em;
    background-color: white;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 3em;
    z-index: 1000;
    opacity: 95%;
    -webkit-box-shadow: 0 2px 2px #eee;
            box-shadow: 0 2px 2px #eee;
  }
  
  #header > * {
    display: inline-block;
    margin: 0;
  }
  
  #header button {
    width: 3em;
  }
  
  #back-button {
    padding: 0.25em 1em;
    font-size: 1em;
    height: 100%;
  }

  .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .flex-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
  }
  
  .flex-col:not(:last-child) {
    margin: 0 0.2em 0 0;
  }
  
  .flex-col:last-child {
    margin: 0 0 0 0.2em;
  }
  
  .no-flex-col {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }

h1 {
    text-align: center;
}
#container {
    margin: auto;
    display: block;
    border: 1px solid black;
    background-image: url("https://i.pinimg.com/originals/e1/a9/f9/e1a9f9b1803a305cc54e3d409b63a332.gif");
    width: 300px;
    height: 300px;
}
#dynamic {
    display: flex;
    background-color: red;
    border: 0px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    height: 300px;
    font-weight: 200;
}
#content {
    background-color: transparent;
    overflow: hidden;
    height: 300px;
    word-break: break-all;
}
#controls {
    width: 340px;
    height: 500px;
    padding: 20px;
    position: absolute;
    top: 115px;
    right: 15px;
    background-color: lightblue;
    font-family: Courier;
    font-weight: 200;
}
#instructions {
    border: 0.2em solid #38Bfe7;
    width: 300px;
    height: 300px;
    float: left;
    padding: 0px 8px 0px 8px;
}
.slider {
    float: right;
}