/* style.scss */
/* Import the common styling */
/* common.scss */
/* Define all the colors */
body {
  margin: 5em 0 0 0;
  padding: 0;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

button {
  border: none;
  background: #38bfe7;
  padding: 0.5em 1em;
  -webkit-box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
          box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
  cursor: pointer;
}

button:hover {
  background-color: #19a8d3;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header {
  padding: 1em 2em;
  background-color: white;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 3em;
  z-index: 1000;
  opacity: 95%;
  -webkit-box-shadow: 0 2px 2px #eee;
          box-shadow: 0 2px 2px #eee;
}

#header > * {
  margin: 0;
}

#header button {
  width: 3em;
}

#back-button {
  padding: 0.25em 1em;
  font-size: 1em;
  height: 48px;
}

.content {
  padding: 1em;
  max-width: 80%;
  margin: 0 auto;
}

/*Flexbox*/
.flex-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.flex-item-header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.flex-item-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

#top-heading {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#bxb-logo {
  max-height: 3em;
  display: block;
  text-align: left;
  margin-left: calc(100% - 200px);
}

.section {
  margin: 1em 0;
  padding: 0.5em;
  border: 0.2em solid #38bfe7;
  background-color: #fff;
  color: #000;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5em;
}

.flex-col:not(:last-child) {
  margin: 0 0.2em 0 0;
}

.flex-col:last-child {
  margin: 0 0 0 0.2em;
}

.no-flex-col {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.showcase-section {
  padding: 0;
}

.editor-section {
  position: relative;
  overflow: scroll;
  padding: 0;
}

.editor {
  margin: 0;
  height: 20em;
  width: calc(100% - 35px - calc(0.625em * 2));
  font-family: "Anonymous Pro", monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 1px 0.625em;
}

.editor-button-overlay {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0;
}

/* Footer */
footer {
  background: #153570;
  color: #fff;
  width: 100vw;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer a {
  color: #fff;
}

footer h4 {
  text-align: center;
  font-weight: 900;
}

footer .footer-home {
  width: 315px;
}

footer .footer-home h4 {
  text-align: left;
}

footer .footer-socials {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .footer-socials h4 {
  text-align: center;
}

footer .footer-socials .socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 1rem 0 3rem 0;
}

footer .footer-socials .socials li {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 5px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.8em;
  border-radius: 50%;
  background-color: #fff;
}

footer .footer-socials .socials li a {
  color: #153570;
}

footer .footer-socials .socials li:hover {
  background-color: #153570;
}

footer .footer-socials .socials li:hover a {
  color: #fff;
}

footer .footer-info {
  text-align: right;
  line-height: 0.8em;
  padding: 1em;
}

@font-face {
  font-family: "NunitoBold";
  src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@1000&display=swap");
}

/* The page-specific styling */
.container {
  margin: auto;
  display: inline-block;
  border: 1px solid black;
  background-image: url("https://i.pinimg.com/originals/e1/a9/f9/e1a9f9b1803a305cc54e3d409b63a332.gif");
}

.dynamic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1bb1de;
  color: #fff;
  border: 0px solid #ff8900;
  width: 20em;
  height: 20em;
}

.div-content {
  background-color: transparent;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.controls {
  display: inline-block;
  width: 20em;
  padding: 1.2em;
  background-color: #1bb1de;
  color: #fff;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2em;
}

.slider > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-content {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */