/* common.scss */
/* Define all the colors */
body {
  margin: 5em 0 0 0;
  padding: 0;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

button {
  border: none;
  background: #38Bfe7;
  padding: 0.5em 1em;
  box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
  cursor: pointer;
}
button:hover {
  background-color: #19a8d3;
}
button:active {
  box-shadow: none;
}

#header {
  padding: 1em 2em;
  background-color: white;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 3em;
  z-index: 1000;
  opacity: 95%;
  box-shadow: 0 2px 2px #eee;
}
#header > * {
  margin: 0;
}
#header button {
  width: 3em;
}

#back-button {
  padding: 0.25em 1em;
  font-size: 1em;
  height: 48px;
}

.content {
  padding: 1em;
  max-width: 80%;
  margin: 0 auto;
}

/*Flexbox*/
.flex-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: max-content;
}

.flex-item-header {
  flex: 1 1 200px;
}

.flex-item-left {
  flex: 1 1 100px;
  max-width: max-content;
}

#top-heading {
  width: max-content;
}

#bxb-logo {
  max-height: 3em;
  display: block;
  text-align: left;
  margin-left: calc(100% - 200px);
}

.section {
  margin: 1em 0;
  padding: 0.5em;
  border: 0.2em solid #38Bfe7;
  background-color: #fff;
  color: #000;
}

.flex-box {
  display: flex;
}

.flex-col {
  flex: 1;
  padding: 0.5em;
}

.flex-col:not(:last-child) {
  margin: 0 0.2em 0 0;
}

.flex-col:last-child {
  margin: 0 0 0 0.2em;
}

.no-flex-col {
  flex: 0;
}

.showcase-section {
  padding: 0;
}

.editor-section {
  position: relative;
  overflow: scroll;
  padding: 0;
}

.editor {
  margin: 0;
  height: 20em;
  width: calc(100% - 35px - calc(0.625em*2));
  font-family: "Anonymous Pro", monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 1px 0.625em;
}

.editor-button-overlay {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0;
}

#instructionsOne {
  padding: 0.5em;
}

#transition, #thirdValue, #secondOperation, #fourthValue {
  display: none;
}

#scrollwrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 30px;
  position: relative;
}

#card1, #card2, #card3, #card4, #card5 {
  flex: 0 0 auto;
  border: 0.125em solid #000000;
  width: 20em;
  margin: 0.25em;
  padding: 0.5em;
}

#check1, #check2, #check3, #check4, #check5 {
  width: 50px;
  height: 50px;
  border: 3px solid #000000;
  display: inline-block;
  text-align: center;
}

@keyframes rotate {
  0% {
    background-color: red;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    background-color: yellow;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    background-color: green;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    background-color: indigo;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    background-color: hotpink;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#bitbybot {
  position: fixed;
  height: 20em;
  width: 20em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  visibility: hidden;
}
#bitbybot.active {
  animation: rotate 4s infinite;
}
#bitbybot img {
  width: 100%;
  height: 100%;
}

select {
  font-family: "Anonymous Pro", monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  margin-bottom: 2px;
}

label {
  font-family: "Anonymous Pro", monospace;
  font-size: 1em;
  line-height: 1.25em;
}

table, th, td {
  border: 0.0625em solid #38Bfe7;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
}

input {
  width: 3em;
}

/*# sourceMappingURL=style.css.map */
