/* style.scss */

/* Import the common styling */
@import "../assets/common.scss";

/* The page-specific styling */
/* TODO: Put whatever styles you need for just your demo here */

#parent {
    border: 1px solid rgb(56, 191, 231);
    width: 300px;
    height: 200px;
    background-color: #1bb1de;
    text-align: center;
    position: relative;
}

#child {
    right: 0px;
    border: 1px solid rgb(56, 191, 231);
    width: 120px;
    height: 80px;
    background-color:#fff;
    text-align: center;
}




.pos-static-child {
    position: static;
}

.pos-absolute-child {
    position: absolute;
}

.pos-relative-child {
    position: relative;
}

.pos-fixed-child {
    position: fixed;
}


