/* style.scss */
/* Import the common styling */
/* common.scss */
/* Define all the colors */
body {
  margin: 5em 0 0 0;
  padding: 0;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

button {
  border: none;
  background: #38Bfe7;
  padding: 0.5em 1em;
  box-shadow: 0.125em 0.125em 0.2em #bfbfbf;
  cursor: pointer;
}
button:hover {
  background-color: #19a8d3;
}
button:active {
  box-shadow: none;
}

#header {
  padding: 1em 2em;
  background-color: white;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 3em;
  z-index: 1000;
  opacity: 95%;
  box-shadow: 0 2px 2px #eee;
}
#header > * {
  margin: 0;
}
#header button {
  width: 3em;
}

#back-button {
  padding: 0.25em 1em;
  font-size: 1em;
  height: 48px;
}

.content {
  padding: 1em;
  max-width: 80%;
  margin: 0 auto;
}

/*Flexbox*/
.flex-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: max-content;
}

.flex-item-header {
  flex: 1 1 200px;
}

.flex-item-left {
  flex: 1 1 100px;
  max-width: max-content;
}

#top-heading {
  width: max-content;
}

#bxb-logo {
  max-height: 3em;
  display: block;
  text-align: left;
  margin-left: calc(100% - 200px);
}

.section {
  margin: 1em 0;
  padding: 0.5em;
  border: 0.2em solid #38Bfe7;
  background-color: #fff;
  color: #000;
}

.flex-box {
  display: flex;
}

.flex-col {
  flex: 1;
  padding: 0.5em;
}

.flex-col:not(:last-child) {
  margin: 0 0.2em 0 0;
}

.flex-col:last-child {
  margin: 0 0 0 0.2em;
}

.no-flex-col {
  flex: 0;
}

.showcase-section {
  padding: 0;
}

.editor-section {
  position: relative;
  overflow: scroll;
  padding: 0;
}

.editor {
  margin: 0;
  height: 20em;
  width: calc(100% - 35px - calc(0.625em*2));
  font-family: "Anonymous Pro", monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 1px 0.625em;
}

.editor-button-overlay {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0;
}

/* The page-specific styling */
/* TODO: Put whatever styles you need for just your demo here */
ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -45px;
}

li {
  display: inline-block;
}

.code {
  display: inline-block;
  color: #153570;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  margin-left: 35px;
}

.codePartOne {
  display: inline-block;
  color: #50c6e9ff;
}

.codePartTwo {
  display: inline-block;
  color: #ffb560ff;
}

.codePartThree {
  display: inline-block;
  color: #236274;
}

.codeOrange {
  color: #ffb560ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  margin-left: 35px;
}

.codeInside {
  margin-left: 30px;
  color: #fad636;
}

.semicolon {
  display: inline-block;
  color: #f8d227;
}

.variableStart {
  display: inline-block;
}

.hiddenVariable {
  display: none;
}

.variableStart:hover + .hiddenVariable {
  display: inline-block;
  position: relative;
  z-index: 10;
  top: 5px;
  left: 5px;
  background-color: white;
  padding: 2px 5px 5px 5px;
  margin: 0;
  margin-right: 10px;
  width: 250px;
  border: black solid 3px;
  box-shadow: black 3px 3px;
}

.gameButton {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 5px;
  width: max-content;
  min-width: 150px;
  min-height: 40px;
}

.buildingGameCode {
  background-color: black;
  min-height: 20px;
  padding: 5px;
  font-family: "Source Code Pro", monospace;
  color: #50c6e9ff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  flex: 100px 1 1;
}

#navQuiz {
  position: relative;
}

#bit-by-bot-quiz {
  width: 20em;
  height: auto;
  position: absolute;
  top: 180px;
  right: 150px;
}