/* common.scss */

/* Define all the colors */
$background-color: #fff;
$background-color-dark: #1bb1de;
$primary-color: #38Bfe7;
$accent-color: #ff8900;
$text-color: #000;
$text-color-dark: #fff;

body {
  margin: 5em 0 0 0;
  padding: 0;
  background-color: $background-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

button {
  border: none;
  background: $primary-color;
  padding: 0.5em 1em;
  box-shadow: 0.125em 0.125em 0.2em darken($text-color-dark, 25%);
  &:hover {
    background-color: darken($primary-color, 10%);
  }
  &:active {
    box-shadow: none;
  }
}

#header {
  padding: 1em 2em;
  background-color: white;
  color: $text-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 3em;
  z-index: 1000;
  opacity: 95%;
  box-shadow: 0 2px 2px #eee;
  > * {
    display: inline-block;
    margin: 0;
  }
  button {
    width: 3em;
  }
}

#back-button {
  padding: 0.25em 1em;
  font-size: 1em;
  height: 100%;
}

.content {
  padding: 1em;
  max-width: 80%;
  margin: 0 auto;
}

.section {
  margin: 1em 0;
  padding: 0.5em;
  border: 0.2em solid $primary-color;
  background-color: $background-color;
  color: $text-color;
}

.flex-box {
  display: flex;
}

.flex-col {
  flex: 1;
  padding: 0;
}
.flex-col:not(:last-child) {
  margin: 0 0.2em 0 0;
}
.flex-col:last-child {
  margin: 0 0 0 0.2em;
}

.no-flex-col {
  flex: 0;
}

#editor-section {
  position: relative;
  overflow: scroll;
}
#editor {
  margin: 0;
  height: 20em;
  // calculate the width by the folloing equation:
  // 100% - line_gutter_width - padding*2
  width: calc(100% - 35px - calc(0.625em*2));
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 1px 0.625em;
}

#explore-show {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}

#button-overlay {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0;
}
