@import '../assets/common.scss';

$highlighter: #ffe266;

.array-element {
  padding: 0;
  border: 0.2em solid #38bfe7;
  margin-bottom: 1em;

  &:hover {
    cursor: pointer;
    background-color: $highlighter;
  }
}

.selected {
  background-color: $highlighter;
}

.i-val {
  background-color: #38bfe7;
  font-size: 1.2em;
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0;
}

.code {
  font-family: monospace;
  font-size: 1.2em;
  margin-top: 0;
}

.explanation {
  margin-bottom: 0;
}
