/* style.scss */

/* Import the common styling */
@import "../assets/common.scss";

/* The page-specific styling */
/* TODO: Put whatever styles you need for just your demo here */

h2 {
  font-size: 1.5em;
}

table {
  border: 0.0625em solid $primary-color;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 0.0625em solid $primary-color;
  border-collapse: collapse;
  padding: 0.5em 1em;
}

.center {
  text-align: center;
}

.note {
  font-size: large;
  color: $accent-color;
}

.type {
  font-size: large;
  font-weight: bolder;
}

.flex-box {
  margin-bottom: 0.5em;
}

.code {
  display: inline-block;
  color: $text-color;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
}

.codePartOne {
  display: inline-block;
  color: #153570;
}

.codePartTwo {
  display: inline-block;
  color: #dfb600;
}

.codePartThree {
  display: inline-block;
  color: $primary-color;
}

.codeInside {
  display: inline-block;
  color: $accent-color;
  margin-left: 2em;
}
