/* style.scss */

/* Import the common styling */
@import "../assets/common.scss";

/* The page-specific styling */
/* TODO: Put whatever styles you need for just your demo here */

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -45px;
}

li {
  display: inline-block;
}

.code {
  display: inline-block;
  color: #153570;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  margin-left: 35px;
}
.codePartOne {
  display: inline-block;
  color: #50c6e9ff;
}
.codePartTwo {
  display: inline-block;
  color: #ffb560ff;
}
.codePartThree {
  display: inline-block;
  color: #236274;
}
.codeOrange {
  color: #ffb560ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  margin-left: 35px;
}
.semicolon {
  display: inline-block;
  color: rgb(224, 192, 46);
}

.variableStart {
  display: inline-block;
}

.hiddenVariable {
  display: none;
}

.variableStart:hover + .hiddenVariable {
  display: inline-block;
  position: relative;
  z-index: 10;
  top: 5px;
  left: 5px;
  background-color: white;
  padding: 2px 5px 5px 5px;
  margin: 0;
  margin-right: 10px;
  width: 250px;
  border: black solid 3px;
  box-shadow: black 3px 3px;
}

.gameButton {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
  width: max-content;
  min-width: 150px;
  min-height: 40px;
}

.buildingGameCode {
  background-color: black;
  min-height: 20px;
  padding: 5px;
  font-family: "Source Code Pro", monospace;
  color: #50c6e9ff;
}

.flex-box {
  position: relative;
}

#bit-by-bot-alert {
  width: 13em;
  height: auto;
  position: absolute;
  bottom: 15px;
  right: 180px;
}

#navQuiz {
  position: relative;
}

#bit-by-bot-quiz {
  width: 20em;
  height: auto;
  position: absolute;
  right: 150px;
  top: 150px;
}
